<% if (typeof flash !== 'undefined' && flash) { %>
  <% (flash.success || []).forEach(function (msg) { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }); %>
  <% (flash.error || []).forEach(function (msg) { %>
    <div class="alert alert-error"><%= msg %></div>
  <% }); %>
<% } %>
