<% if (typeof errors !== 'undefined' && errors && errors.length) { %>
  <div class="alert alert-error">
    <ul class="error-list">
      <% errors.forEach(function (err) { %>
        <li><%= err %></li>
      <% }); %>
    </ul>
  </div>
<% } %>
